/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* This is meyers CSS reset to bassline styling for chrome and explorer*/

*,
*:before,
*:after {
	box-sizing: border-box;
}


.sidenav {
width: 0; /* will change to 250 on activation of clickOpen function */
position: fixed;
height: 100%;
background-color: #ecebe8;
left:0;
top: 0;
transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

nav  a{
display: block;
opacity: 0.7;
padding: 20px;
color: black;
font-size: 20px;
padding: auto;
}
nav a:hover {
background-color: #F4F4F4;

}
.socialmedia {
	display:block;
	position: absolute;
	bottom: 0;
	width:100%;

	
}
.socialmedia img {
	
	display: block; 
	float:left;
	width: auto;
	height:6%;
	color: black;
	margin: 2px;
	padding: auto;
	
}
.socialmedia hover {
	background-color: #F4F4F4;
	
}

.main {
position: absolute;
width: 100%;
height: 100%;
background-color: #262626;
top: 0;
left: 0;
transition: margin-left .5s;
}
footer {
position: fixed;
bottom: 0;
display:block;
width: 100%;
margin-left: 0;
height:5%;
color: #262626;
text-align: center;
font-family: helvetica;
background-color: #84bd00;
}

footer p {
color: #262626;
margin: 10px auto;
text-align: center;

}

#menubutton {
height: auto;
width: 100px;
padding: 0;
margin: 0;
}

.title {
	margin: auto;
	text-align: center;
	display: block;
	font-size: 70px;
	padding: 10px 0px;
	color: #84bd00;
	
}
.title p {
	display: block;
	position: relative;
	width: 100%;
	text-align: center;
	margin-left: -4px;
	margin-top: 10px;
	font-size: 20px;
}


/*CONTENTS*/
.articles {
    display:block;
	position: relative;
	float: center;
	width:97%;
	height:520px;
	position: relative;
	top: 10px;
	padding: 10px;
	overflow-y: auto;
	margin-left: 40px;
	
}

.article {
	height: 350px;
	width: 350px;
	margin: 20px 50px;
	background-color: #ecebe8;
	text-align: center;
	overflow:hidden;
	color: black;
	border-radius: 25px;
	float: left;
}
.article a h3 {
	text-decoration:none;
	color: inherit;
	
}

.article:hover {
	background-color: #84bd00;
    color: black;
	color; inherit;
}
.article h3{
	font-size:30px;
	margin:10px;
}
.article p {
	font-size: 20px;
	width: 45%;
	float:left;
	margin:10px;
}

.article img {
	float: right;
	width: 50%;
	margin-top: -180px;
	-webkit-mask-image:-webkit-gradient(linear, right top, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))
}
body {
	overflow: hidden;
}

/* Keyframes for the fade-in */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;
  opacity: 1 \9; /*just in case ie*/
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  animation-delay: .1s;
}

.fade-in.two {
  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
  animation-delay: .5s;
}

.fade-in.three {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}
.fade-in.four {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
}








